html,body{margin:0;padding:0;}
a{
    text-decoration: none;
}

html{
    height:100%;
    background-color: #515363;
}
body {
    height:100%;
    width: 100%;
    max-width: 640px;/* 对于pc最大宽度*/
    margin: 0 auto;
    box-shadow: 0 0 160px 0 #5c99e7;
    // font-family: cursive;
 }
.root {
    display: flex;
    flex-direction: column;
    background-color:#fff;
    height: 100%;
    width:100%;
}